var newmarkY = startmarkY = 0
var newmarkX = startmarkX = 0
/** 页面统计信息
 * 
 * scrollTop  页面滚动位置
 * reachBottom 页面是否触底
 * custom 页面自定义状态栏 信息
 * customBar 页面自定义状态栏高度
 * statusBar 状态栏高度
 * screenWidth 屏幕宽度
 * screenHeight 屏幕高度
 * 
 */
var pageStats = {}

/**
 * 处理fixed 样式的view
 */
function _handleFixedView(ins, type) {
  var all = ins.selectAllComponents('.fixed')
  switch (type) {
    case 'clean': // 清除fixed的top属性
      for (var i = 0; i < all.length; ++i) {
        all[i].setStyle({
          top: '0px'
        })
      }
      break
    case 'recover': // 回复fixed的top属性
      for (var i = 0; i < all.length; ++i) {
        all[i].setStyle({
          top: pageStats.customBar + 'px'
        })
      }
      break
    default:
      break
  }
}

/**
 * 触摸事件开始，初始化触点
 */
function touchstart(e, ins) {
  startmarkX = newmarkX = (e.touches[0] || e.changedTouches[0]).pageX
  startmarkY = newmarkY = (e.touches[0] || e.changedTouches[0]).pageY
}

/**
 * 触摸事件结束，处理视图层变化，并回调事件处理函数
 */
function touchmove(e, ins) {
  // 页面没有到达顶部(<5) 或 底部，不做下拉和上拉事件通知
  if (pageStats.scrollTop > 5 && !pageStats.reachBottom) {
    return
  }
  var pageX = (e.touches[0] || e.changedTouches[0]).pageX
  var pageY = (e.touches[0] || e.changedTouches[0]).pageY
  newmarkX = pageX
  newmarkY = pageY
  var width = e.target.dataset.width || e.currentTarget.dataset.width
  var pullDownWidth = pageStats.screenHeight * 0.05
  var moveX = Math.abs(pageX - startmarkX)
  var moveY = Math.abs(pageY - startmarkY)
  if (moveX <= moveY) { // 上下
    if (startmarkY < pageY) {
      // 下拉清除fixed
      _handleFixedView(ins, 'clean')
      e.direction = "down"
      // console.log("下:" + startmarkY + " " + pageY)
      // console.log(Math.min(pullDownWidth, newmarkY - startmarkY))
      // 满足下拉条件，且开启了下拉刷新的使用才触发动画
      if (pullDownWidth > Math.abs(newmarkY - startmarkY) && ins.selectComponent('.pull-down').hasClass('enablePullDownRefresh')) {
        ins.selectComponent('.page-top').setStyle({
          transform: 'translateY(' + Math.min(pullDownWidth, newmarkY - startmarkY) + 'px)'
        })
        ins.selectComponent('.pull-down').addClass("loading")
      }
    }
    // 满足上拉条件，且开启了上拉刷新的使用才触发动画
    if (startmarkY > pageY && ins.selectComponent('.pull-up').hasClass('enablePullUpRefresh')) {
      e.direction = "up"
      // 考虑到布局问题，和下拉清除fixed相关属性有些条件区别，这个是调试后的结果
      _handleFixedView(ins, 'clean')
      // console.log("上:" + newmarkY + " " + startmarkY)
      ins.selectComponent('.page-top').setStyle({
        transform: 'translateY(-' + Math.min(pullDownWidth, (startmarkY - newmarkY)) + 'px)'
      })
      ins.selectComponent('.pull-up').addClass("loading")
    }
  } else {
    if (startmarkX < pageX) {
      e.direction = "right"
      // console.log("右:" + startmarkX + " " + pageX)
    }
    if (startmarkX > pageX) {
      e.direction = "left"
      // console.log("左:" + startmarkX + " " + pageX)
    }
  }
  // 是否需要触发触摸过程中的事件
  ins.callMethod('pageEventObserver', e)
}

/**
 * 触摸事件结束，处理视图层，并回调事件处理函数
 */
function touchend(e, ins) {
  _handleFixedView(ins, 'recover')
  /**
   * 删除可能存在的动画
   */
  ins.selectComponent('.pull-up').removeClass("loading")
  ins.selectComponent('.pull-down').removeClass("loading")
  ins.selectComponent('.page-top').setStyle({
    transform: ''
  })
  // 页面没有到达顶部(<5) 或 底部，不做下拉和上拉事件通知    
  if (pageStats.scrollTop > 5 && !pageStats.reachBottom) {
    return
  }
  var pageX = (e.touches[0] || e.changedTouches[0]).pageX
  var pageY = (e.touches[0] || e.changedTouches[0]).pageY
  newmarkX = pageX
  newmarkY = pageY
  var width = e.target.dataset.width || e.currentTarget.dataset.width
  var pullDownWidth = pageStats.screenHeight * 0.05
  var moveX = Math.abs(pageX - startmarkX)
  var moveY = Math.abs(pageY - startmarkY)
  if (moveX <= moveY) { // 上下
    if (startmarkY < pageY) {
      e.direction = "down"
      // console.log("下:" + startmarkY + " " + pageY) 
    }
    if (startmarkY > newmarkY) {
      e.direction = "up"
      // console.log("上:" + startmarkY + " " + pageY)
    }
  } else {
    if (startmarkX < pageX) {
      e.direction = "right"
      // console.log("右:" + startmarkX + " " + pageX)
    }
    if (startmarkX > pageX) {
      e.direction = "left"
      // console.log("左:" + startmarkX + " " + pageX)
    }
  }
  ins.callMethod('onPageEvent', e)
}

/**
 * 监控数据js层变化
 */
function propObserver(newValue, oldValue, ownerInstance, instance) {
  pageStats = newValue
  // console.log(JSON.stringify(pageStats))
}

/**
 * 获取pagestatas 中的数据
 */
function getPageStats(key) {
  console.log(JSON.stringify(pageStats) + " " + key)
  return pageStats[key] || pageStats
}

module.exports = {
  touchStart: touchstart,
  touchMove: touchmove,
  touchEnd: touchend,
  propObserver: propObserver,
  getPageStats: getPageStats
}