/**
 * 处理数据使其返回数组
 */
var TextClassMap = {
  title: "text-center margin-tb-xs text-xl text-grey",
  h1: "margin-tb-xs text-sl text-black text-bold",
  h2: "margin-tb-xs text-xxl text-black text-bold",
  h3: "margin-tb-xs text-xl text-black text-bold",
  h4: "margin-tb-xs text-lg text-black text-bold",
  h5: "margin-tb-xs text-df text-black text-bold",
  h: "margin-tb-xs text-lg text-black text-bold",
}

var template = function(name) {
  console.log(name, TextClassMap[name])
  return TextClassMap[name]
}

/**
 * 更新a标签的访问状态的样式
 */
var clickA = function(event, ins) {
  var st = event.instance.getState()
  var clicked = st.clicked || 0
  console.log('clickA', JSON.stringify(st))
  if (!clicked) {
    ins.selectComponent('.a-link').removeClass('text-blue').setStyle({
      'color': 'purple',
      'text-decoration': 'none'
    })
  }
  st.clicked = clicked + 1
  // 调用预先定义的js 逻辑层的方法
  ins.callMethod("clickA", event)
  return false
}

module.exports.clickA = clickA;
module.exports.template = template;