var _lastindex = 0

var initTab = function (index) {
  console.log('initTab:', _lastindex)
  return _lastindex == index ? 'text-white cur' : ''
}

var tabSelect = function(event, ins) {
  var st = ins.getState()
  var lastindex = st.lastindex || 0
  console.log('tabSelect:', JSON.stringify(event), JSON.stringify(st), _lastindex)
  var all = ins.selectAllComponents('#nav-tab')
  var index = event.currentTarget.dataset.index || event.target.dataset.index
  st.lastindex = index
  for (var i = 0; i < all.length; ++i) {
    if (i != index) {
      all[i].removeClass("text-white cur")
    } else {
      all[i].addClass("text-white cur")
      _lastindex = i
    }
  }
  return false
}

var tabWidth = function(event, ins) {
  var st = event.instance.getState()
  var expand = st.expand || 0
  console.log('tabWidth:', JSON.stringify(event))
  if (!expand) {
    st.expand = expand + 1
    ins.selectComponent('.tree-tab').setStyle({
      width: '200rpx',
      transform: 'width 2s'
    })
    ins.selectComponent('.tab-tool').setStyle({
      opacity: 0.5,
      left: '40rpx',
      transform: 'left 2s'
    }).addClass('cuIcon-roundleftfill').removeClass('cuIcon-roundright')
    var all = ins.selectAllComponents('.tree-item')
    for (var i = 0; i < all.length; ++i) {
      all[i].addClass('padding-xs')
    }
  } else {
    ins.selectComponent('.tree-tab').setStyle({
      width: '0rpx',
      transform: 'width 2s'
    })
    ins.selectComponent('.tab-tool').setStyle({
      opacity: 0.5,
      left: '12rpx',
      transform: 'left 2s'
    }).addClass('cuIcon-roundright').removeClass('cuIcon-roundleftfill')
    var all = ins.selectAllComponents('.tree-item')
    for (var i = 0; i < all.length; ++i) {
      all[i].removeClass('padding-xs').addClass('padding-bottom-xs')
    }
    st.expand = 0
  }
  return false
}

module.exports.initTab = initTab;
module.exports.tabWidth = tabWidth;
module.exports.tabSelect = tabSelect;